@model IndexViewModel
@using BL


@{
    ViewData["Title"] = "List";
    

    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<h1>List</h1>

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group" role="group" aria-label="First group">
    <a type="button" asp-action="List"  class="btn btn-secondary ml-1">All</a>
</div>
    @foreach (CategoryViewModel category in Model.Categories)
    {
<div class="btn-group" role="group" aria-label="First group">
    <a type="button" asp-action="List" asp-route-categoryId="@category.Id" class="btn btn-secondary ml-1">@category.Name</a>
</div>
    
    }

</div>


    <ul class="hr">


        @foreach (ProductViewModel item in Model.Products)
        {
<li>
    <div class="card" style="width: 18rem;">
        <img class="card-img-bottom" src="~/api/Asset/@item.ImageIds[0]" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">
                <a asp-controller="Product"
                   asp-action="Details"
                   asp-route-id=@item.Id>@item.Name</a>
            </h5>
            <span class="pull-right label label-primary">@item.RetailPrice.ToString("# $")</span>
            <a asp-controller="CartItem" asp-action="Add" asp-route-id=@item.Id>Add to cart</a>
        </div>
    </div>
</li>
}

    </ul>

    @if (Model.PageViewModel.HasPreviousPage)
    {
<a asp-action="List"
   asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
    asp-route-categoryId=@ViewData["Category"]
   class="btn btn-outline-dark">
    <i class="glyphicon glyphicon-chevron-left"></i>
    Backward
</a>}
    @if(Model.PageViewModel.PageNumber>1){
        for (int i = 1; i < Model.PageViewModel.PageNumber; i++)
         {
                <a asp-action="List"
        asp-route-page="@i"
        asp-route-categoryId=@ViewData["Category"]
         class="btn btn-outline-dark">
         <i class="glyphicon glyphicon-chevron-left"></i>
         @i
</a>
         }

    }
    @if (Model.PageViewModel.HasNextPage)
    {
<a asp-action="List"
   asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
    asp-route-categoryId=@ViewData["Category"]
   class="btn btn-outline-dark">
    Forward
    <i class="glyphicon glyphicon-chevron-right"></i>
</a>}



    <style>
        img {
            width: 200px;
            height: 200px;
        }

        ul.hr {
            margin: 0;
            padding: 4px;
        }

            ul.hr li {
                display: inline-block;
                margin-right: 5px;
                margin-top: 5px;
            }
    </style>
